@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.4s ease-in-out;
}

hr {
  @apply bg-gradient-to-l from-gray-50 to-gray-600 h-0.5;
}

html {
  scroll-padding-top: 50px ;
  scroll-behavior: smooth;
}